<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="test1" value="value1" />
    <add key="test2" value="value3" />
    <add key="test3" value="value2" />
    <add key="pr:test1" value="prvalue1" />
    <add key="pr:test2" value="prvalue2" />
  </appSettings>
</configuration>